/*Aqui inicia todo o css da pagina inicial do projeto*/
*{
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
    font-family: 'Roboto';
}
.container{
    width: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
}
.titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1051px;
    height: 181px;
    margin-top: 77px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.nav span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}
.criar-quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EC362D;
}
.nav-quiz{
    width: 1051px;
    margin-top: 77px;
    background: #FAFAFA;
    border-radius: 5px;   
    
}
.nav-flex{
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
}
.nav-add{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav-add ion-icon{
    color: #EC362D;
    font-size: 30px;
    padding-left: 17px;
}
.meus-quizzes{
    width: 340px;
    height: 181px;
    margin-right: 10px;
    position: relative;
}
.meus-quizzes img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: brightness(58%);
}
.titulo-h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

section{
    width: 1051px;
    margin-top: 77px;
}

.todos-quizzes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.posts{
    position: relative;
    width: 340px;
    height: 181px;
    margin-right: 10px;
    margin-top: 12px;
}
.posts:nth-last-child(1){
    margin-bottom: 12px;
}
.posts img{
    width: 100%;
    height: 100%;
    filter: brightness(58%);
    border-radius: 5px;
    position: relative;
}
.posts-titulo{
    overflow-wrap: break-word; 
    overflow: hidden;
    max-width: 301px;
    position: absolute;
    left: 18px;
    bottom: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;     
    color: #FFFFFF;
}

.form-button{
    cursor: pointer;
    color: #FFF5F4;
    font-size: 21px;
    margin: 0 auto;
    background-color: #EC362D;
    border-radius: 15px;
    height: 54px;
    width: 20%;
    min-width: 324px;
    border: none;
    margin: 81px auto 0 auto;
}

.title-form{
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    margin-top: 63px;
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form > div{
    margin: 27px auto 0px auto;
    padding: 21px 20px 24px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 600px;
    background-color: #fff;
}

form > div > label{
    text-align: start;
    font-size: 20px;
}

input{
    font-family: 'Roboto';
    font-size: 19px;
    padding-left: 23px;
    margin-top: 9px;
    height: 46px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

input::placeholder{
    color: #BABABA;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
}

.form-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.double-input-box{
    margin: 16px 0;
}

.create-label{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.create-label > label{
    font-size: 20px;
}

.create-label > ion-icon{
    cursor: pointer;
    font-size: 26px;
}

.finish-form > .meus-quizzes{
    width: 500px;
    height: 266px;
    margin: 46px auto 0 auto;
}

.finish-form{
    display: flex;
    flex-direction: column;
}

.finish-form > button{
    margin-top: 45px;
    height: 44px;
    min-width: auto;
    max-width: 220px;
}

.finish-form > button:last-of-type{
    background-color: transparent;
    color: #818181;
    margin-top: 9px;
}

/*Inicio secão quizz*/
.quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 227px;
    position: relative;
}
.banner > img{
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.titulo-quizz{
    max-width: 1051px;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}
.post-pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 759px;
    height: 676px;
    margin-top: 42px; 
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);  
}
.faixa-pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688.16px;
    height: 137.99px;
    margin-top: 27.91px;
    background: #434CA0;
}
.faixa-pergunta > span{
    max-width: 623.39px;
    max-height: 83.72px;    
    text-align: center;    
    overflow-wrap: break-word;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}
.respostas{
    display: flex;
    flex-wrap: wrap;
    width: 688.16px;
}
.resposta{
    width: 329.91px;
    height: 218.61px;
    margin-top: 20.16px;
    
}
.resposta:nth-child(odd){
    margin-right: 24.29px;
}
.resposta > img{
    width: 329.91px;
    height: 175.2px;
}
.resposta > p{
    width: 100%;
    margin-top: 9.3px;
    overflow-wrap: break-word;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000; 

}
.resultado-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
    max-width: 759px;
}
.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.faixa-resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 727px;
    height: 99px;
    margin-top: 18px;
    background-color: #EC362D;
}
.faixa-resultado > span{
    max-width: 691px;
    overflow-wrap: break-word;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.resultado-info{
    display: flex;
    width: 727px;
    height: 273px;
    margin-top: 18px;
}
.resultado-info > img{
    width: 364px;
    height: 273px;
}
.resultado-info > span{
    overflow-wrap: break-word;
    max-width: 328px;
    max-height: 250px;
    margin-left: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}
.reiniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260.38px;
    margin-top: 57px;
    margin-bottom: 85px;
}
.reiniciar button{
    width: 100%;
    height: 52px;
    left: 591px;
    top: 953px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF5F4;
}
.reiniciar > span{
    margin-top: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    cursor: pointer;
}

.disabled{
    display: none;
}

@media (max-width: 1100px) {
    /*Inicio mobile pagina inicial*/	  
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
    /*--------------  Escondendo o scroll das páginas ---------------------*/
    @-moz-document url-prefix() { /* Disable scrollbar Firefox */
        html{
          scrollbar-width: none;
         
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .container{
        width: 100vw;
    }
    .todos-quizzes{
        width: 100vw;
    }
    .nav-quiz{       
        margin-top: 38px;          
    }
    .nav{
        width: 340px;
        margin-top: 31px;
    }
    .nav-quiz{
        width: 350px;        
    }
    .nav-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14px;
    }
    .meus-quizzes{        
        margin-right: 0px; 
        margin-top: 14px;       
    }
    section{
        width: 350px;  
        margin-top: 35px; 

    }
    .todos-quizzes{
        width: 350px;
        flex-direction: column;  
        align-items: center;      
    }    
    .posts{
       margin-right: 0px;
       margin-top: 14px;
    }
    .posts:nth-last-child(1){
        margin-bottom: 14px;
    }
    /*Inicio tela mobile quizz*/
    .banner{
        width: 100%;
        height: 142px;
    }
    .titulo-quizz{
        font-size: 19px;
        line-height: 22px;
        max-width: 309px;
    }
    .post-pergunta{
        width: 375px;
        height: 436px;
        margin-top: 24px;
    }
    .faixa-pergunta{
        width: 340px;
    }
    .faixa-pergunta > span{
        max-width: 308px;
        max-height: 54px;    
    }
    .respostas{        
        width: 340px;
    }
    .resposta{
        width: 163px;
        height: 140px;
        margin-top: 12px;
    }
    .resposta > img{
        width: 100%;
        height: 113px;
    }
    .resposta > p{   
        margin-top: 5px;       
        font-size: 13px;
        line-height: 15px;       
    }
    .resposta:nth-child(odd){
        margin-right: 10px;
    }
    .resposta:nth-last-child(1){
        margin-bottom: 23px;
    }
    .resultado-final{      
        margin-top: 24px;
        width: 375px;
    }
    .resultado{
        height: 500px;
    }
    .faixa-resultado{       
        width: 340px;
    }
    .faixa-resultado > span{
        max-width: 308px;        
        font-size: 19px;
        line-height: 22px;
    }
    .resultado-info{
        display: flex;
        flex-direction: column;
        width: 340px;    
        margin-top: 18px;
    }
    .resultado-info > img{
        width: 340px;
        height: 255px;
    }
    .resultado-info > span{        
        max-width: 340px;
        max-height: 96px;
        margin-left: 0px;
        margin-top: 29px;
        font-size: 17px;
        line-height: 20px;
    }
    .reiniciar{        
        width: 220.32px;
        margin-top: 34px;
        margin-bottom: 66px;
    }
    .reiniciar > span{        
        font-size: 18px;
        line-height: 21px;       
    }
}


